<h1 class='title'><% @post.title %></h1>
<p class='content'><%= @post.content %></p>
	<% if current_user.name == @post.user.name %>
<%= link_to "Edit", edit_post_path(@post) %>

<%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure you want to delete this?"} %>
<% end %>
<%= link_to "Home", root_path %>