// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#forum-bg {
	background-image: url("shards.png");
}

p.publish {
	font-size: 10px;
	padding: 5px;
	text-align: inherit;
	color:#fff;
}

p.content {
	border-style: groove;
	border-width: 5px;
	border-color: #330000;
	font-size: 25px;
	padding: 5px;
	color:#fff;
}

.forum-table{
	color: #fff;
	padding: 5px;
	border-width: 3px;
	border-color: #330000;
	border-radius: 5px;
	font-size: 30px;
	width: 100%;
}

.add-comment {
	border-style: groove;
	border-width: 3px;
	border-color: #330000;
	border-radius: 5px;
	font-size: 12px;
	vertical-align: text-bottom;
	color: black;
}

td {
	font-size: 24px;
	color: #202020;
	text-decoration: none;
}

.post-link {
	padding: 5px;
	font-size: 24px;
	color: #202020;
	text-decoration: none;
}

.post-link:hover {
	padding: 5px;
	font-size: 24px;
	color: #FFF;
	text-decoration: none;
}

.post-link:active {
	padding: 5px;
	font-size: 24px;
	color: #000;
	text-decoration: none;
}
